# To build the `development` service
#
#   docker compose build [--no-cache]
#
#   Notes:
#     --no-cache:
#       1) tells Docker to ignore cached images that might be stale
#       2) useful due to Docker not understanding changes to build-args
#       3) useful due to Docker not understanding changes to context dir
#       4) finer grained alternative to previously running docker builder prune
#     Images built will be named "proxyfs_<service>:latest"
#     Use docker tag SOURCE_IMAGE[:TAG] TARGET_IMAGE[:TAG] to create an alias
#
# To run the resultant application:
#
#   docker compose up [-d|--detach] {dev|imgr|iclient}
#
#   Notes:
#     -d|--detach:
#       1) tells docker compose to detach from running containers
#       2) if supplied:
#          a) stop application with `docker compose down`
#          b) containers are removed upon application down
#       3) if not supplied:
#          a) stop application with ^C
#          b) containers are left in "exited" state upon application down
#     dev:     tells docker compose to only bring up dev     service (w/ dependencies)
#     imgr:    tells docker compose to only bring up imgr    service (w/ dependencies)
#     iclient: tells docker compose to only bring up iclient service (w/ dependencies)
#     Precisely one of {dev|imgr|iclient} must be specied... default (all) will conflict
#     If no service is specified, services dev and imgr published ports will collide
#     Containers launched have been named the same as their corresponding service name
#
# To stop the resultant application:
#
#   docker compose down

version: '3.8'

services:
  swift:
    image: dockerswiftaio/docker-swift:2.27.0
    container_name: proxyfs_swift
    expose:
      - 8080                                  # curl http://swift:8080/info
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
  etcd:
    image: bitnami/etcd:3.5.0
    container_name: proxyfs_etcd
    expose:
      - 2379                                  # etcdctl --endpoints=etcd:2379
    ports:
      - target: 2379
        published: 2379                       # etcdctl [--endpoints=localhost:2379]
        protocol: tcp
        mode: host
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
  dev:
    build:
      context: .
      target: dev
    container_name: proxyfs_dev
    depends_on:
      - etcd
      - swift
    privileged: true
    expose:
      - 32356                                 # IMGR.RetryRPCPort
      - 15346                                 # IMGR.HTTPServerPort
      - 15347                                 # ICLIENT.HTTPServerPort
    ports:
      - target: 32356
        published: 32356
        protocol: tcp
        mode: host
      - target: 15346
        published: 15346
        protocol: tcp
        mode: host
      - target: 15347
        published: 15347
        protocol: tcp
        mode: host
    volumes:
      - type: bind
        source: .
        target: /src
    command: ["sleep", "infinity"]
  imgr:
    build:
      context: .
      target: imgr
    container_name: proxyfs_imgr
    depends_on:
      - swift
      - etcd
    expose:
      - 32356                                 # IMGR.RetryRPCPort
      - 15346                                 # IMGR.HTTPServerPort
    ports:
      - target: 32356
        published: 32356
        protocol: tcp
        mode: host
      - target: 15346
        published: 15346
        protocol: tcp
        mode: host
    command: ["./imgr", "imgr.conf"]
  iclient:
    build:
      context: .
      target: iclient
    container_name: proxyfs_iclient
    depends_on:
      - swift
      - imgr
    privileged: true
    expose:
      - 15347                                 # ICLIENT.HTTPServerPort
    ports:
      - target: 15347
        published: 15347
        protocol: tcp
        mode: host
    command: ["./iclient.sh", "-s"]
 